*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid red ;
}

.menu-container {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 228, 196);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.header-container {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 228, 196);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.labels {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 50px;
    background-color: bisque;
    margin: 2px;
    ;
}
