
:root {
    --background-general: #FFEAD0;
    --background-secondary: #FFDEB4;
    --background-header: #FDEBD5;
    --button-background: #FFC68C;
    --text-green: #4CCE7B;
    --figure-background: #F6A049;
}

@font-face {
    font-family: BioRhyme;
    src: url(./fonts/BioRhyme-Regular.ttf);
}

/* -------------------------------------------------- */

* {
    background-color: var(--background-general);
    font-family: BioRhyme;
    margin: 0;
}

header * {
    background-color: var(--background-header);
    margin: 0 20px;
}

header {
    background-color: var(--background-header);
    display: flex;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

.header-logo {
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

section {
    padding: 40px 100px;
}

.welcome-sect {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.welcome-sect span {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.welcome-sect span div {
    flex: 2;
    
}

.welcome-sect span div * {
    margin: 20px 0;
    
}

.welcome-sect span img {
    flex: 1;
    margin-top: 100px ;
}

.benefits-sect {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-sect * {
    background-color: var(--background-secondary);
}

.benefits-sect span {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 20px;
}

figcaption * {
    text-align: center;
}

figcaption p {
    font-size: 24px;
}

.reviews-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-sect div {
    display: flex;
    justify-content: center;
}

article {
    background-color: var(--figure-background);
    border: 3px solid var(--text-green);
    border-radius: 100px;
    padding: 60px;
    margin: 20px;
    width: 13%;
}

article * {
    background-color: var(--figure-background);
    text-align: center;
}

article p {
    font-size: 25px;
}

.welcomeimg {
    border-radius: 45%;
    border: 5px solid black;
}

.benefitsimg {
    border-radius: 100%;
    border: 3px solid white;
}
/* -------------------------------------------------- */

h1 {
    color: var(--text-green);
    text-shadow: -1px 0 black, 1px 0 black, 0px -1px black, 0 1px black;
    font-size: 48px;
}

h2 {
    color: var(--text-green);
    text-shadow: -1px 0 black, 1px 0 black, 0px -1px black, 0 1px black;
    font-size: 40px;
}

h3 {
    color: var(--text-green);
    text-shadow: -2px 0 black, 2px 0 black, 0px -2px black, 0 2px black;
    font-size: 72px;
    letter-spacing: 0.25em;
}

h4 {
    font-size: 60px;
    letter-spacing: 0.14em;
    line-height: 100%;
}

h5 {
    font-size: 30px;
}

p {
    display: block;
    font-size: 28px;
}

button {
    border-radius: 80px;
    font-size: 60px;
    background-color: var(--button-background);
    border: 4px solid white;
    width: 250px;
}


/* -------------------------------------------------- */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}